{% extends "BookmarkBundle::Layout/layout.html.twig" %}

{% block title %}Lista de Usuários{% endblock %}

{% block body %}
    <div class="col-sm-12">

        <div style="padding-top: 20px">
            <table class="table table-bordered table-responsive table-condensed">
                <thead>
                    <tr style="background-color: dodgerblue">
                        <td>USUARIOS</td>
                        <td>STATUS</td>
                        <td>AÇÕES</td>
                    </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nome }} {{ usuario.sobrenome }}</td>
                        <td>
                            {% if usuario.status == 1 %}
                                {{ 'Ativo' }}
                            {% elseif usuario.status == 0 %}
                                {{ 'Inativo' }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="/bookmark/buscar/{{ usuario.id }}" title="Exibir Bookmarks"><label class="glyphicon glyphicon-th-list"></label></a>
                            <a href="/usuario/editar/{{ usuario.id }}" title="Editar Usuário"><label class="glyphicon glyphicon-pencil"></label></a>
                            <a href="/usuario/deletar/{{ usuario.id }}"
                                    {% if usuario.status == 1 %}
                                        title="Desativar Usuário"
                                    {% else %}
                                        title="Ativar Usuário"
                                    {% endif %}
                               ><label
                                    {% if usuario.status == 1 %}
                                        style="color: darkred"
                                        class="glyphicon glyphicon-remove"
                                    {% else %}
                                        class="glyphicon glyphicon-ok"
                                    {% endif %}
                                ></label></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
